.progress{
    background: url('../images/bg_info.png') no-repeat top center;
background-size: cover;
.container{
    position: relative;
}
    .title_big{
        color: #1EAFE1;
        font-family: "Road Rage(RUS BY LYAJKA)";
        font-size: 117.181px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 20px;
    }
    &_top{
        padding-top: 102px;
        .progress_top_items{
            gap: 20px;
            width:calc(70% - 20px);
            li{
                width: calc(25% - 14.5px);
                gap: 14px;
                .progeress_item_top{
                    position: relative;
                    z-index: 2;
                    gap: 39px;
                    .progress_img{
                        height: 193px;
                        text-align: center;
                        &>img:first-child{
                            transform: translateY(-28px);
                            position: relative;
                            z-index: 2;
                        }
                        &>img:last-child{
                            position: absolute;
                            top: -20%;
                            left: -15%;

                        }
                    }
                    .progress_number{
                        color: #FEA500;
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                  
                }
                .progress_bottom {
                    gap: 6px;
                    position: relative;
                    z-index: 2;
                    .progres_logo{
                         border-radius: 50%;
                         border: 1px solid #FFF;
                         background: #000;
                         width: 37px;
                         height: 37px;
                 
                     } 
                     .date{
                        color: #C1C1C1;
                        font-family: "Proxima Nova";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                     }
                     .progress_author{
                        color: #FFF;
                        font-family: "Rubik One";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                     }
                }
            }
        }
        .progress_name{
            color: #FEA500;
            font-family: "Road Rage(RUS BY LYAJKA)";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 109%;
            letter-spacing: -1.6px;
            text-transform: uppercase;
            width: 100%;
            max-width: 348px;
            a{
                color: #FFF;
                font-family: "Proxima Nova";
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 89%;
                letter-spacing: -1.2px;
                text-transform: lowercase;
            }
            &>span{
                color: #FFF;
                font-family: "Rubik One";
                font-size: 52px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: -3px;
                text-transform: capitalize;
            }
            &>span:last-child{
                padding-left: 100px;
            }
        }
       
  }
  &_lists{
    gap: 9px;
    .progress_list_item{
        border-radius: 18px;
        border: 1px solid #FEA500;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(2px);
        padding: 8.5px 13px 8.5px 20px;
        gap: 30px;
        p{
            color: #EAEAEA;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            span{
                color: #FEA500;
                
            }
        }
    }
  }
}