@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Rubik+Mono+One&display=swap');
@import 'header';
@import 'hero';
@import 'about';
@import 'progress';
@import 'advantages';
@import 'tactics';
@import 'programm';
@import 'improvement';
@import 'details';
@import 'offer';
@import 'tarifs';
@import 'system';
@import 'participants';
@import 'comments';
@import 'foto';
@import 'faq';
@import 'footer';
// fonts
@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proxima/proximanova_regular.ttf);
}

@font-face {
    font-family: 'Road Rage(RUS BY LYAJKA)';
    src: url(../fonts/RoadRage/roadrage.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
overflow:hidden;
}
body{
color: #686868;
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120.3%;
background: #F0F6F8;
}
.title{
color: #2F2F2F;
font-family: "Rubik Mono One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 21.6px */
}

.button{
    cursor: pointer;
    color: #50390D;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 20px;
    background: #FEA500;
    box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.29), 0px -4px 8.2px 0px rgba(255, 255, 255, 0.57) inset;
    padding: 38.5px 78px;
    transition: all .2s linear;
    &:hover{
        opacity:.99 ;
        transform: scale(.96);
    }
    &.midle{
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        padding: 26px 30px;
        border-radius: 13px;    }
    &.red{
        background: #C73634;
        color: #fff;
    }
}
a{text-decoration: none;}
li{
    list-style:none;
}
.section_title{
    color: #2F2F2F;
    font-family: "Rubik One";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 89%; 
    text-align: center;
    letter-spacing: -2.6px;
    text-transform: uppercase;
@media (max-width:1120px) {
    font-size: 54px;
}
@media (max-width:768px) {
    font-size:34;
}
@media (max-width:556px) {
    font-size: 26px;
    font-weight: 300;
}
}
.container{
    max-width:1290px;
    margin: 0 auto;
    padding:0 10px;
    // @media (max-width:1120px) {
    //     max-width: 768px;
    // }
    @media (max-width:992px) {
        max-width: 768px;
    }
    @media (max-width:768px) {
        max-width: 556px;
    }
}
.flex {
    display: flex;

    &.between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start;
    }

    &.column {
        flex-direction: column;
    }

    &.a_center {
        align-items: center;
    }

    &.a_start {
        align-items: flex-start;
    }

    &.a_end {
        align-items: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }


}